<h1>Simple demo for Training API usage</h1>

<button (click)="createTraining()">Create training</button>

<p>List of trainings:</p>

<ul>
  <li *ngFor="let training of trainings$ | async as list">
    {{ training.id }} | {{ training.description }} | {{ training.instructorName }} | {{ training.priceEuro }}
  </li>
</ul>
